/* ==========================================================================
   VARIABLE COLOR
========================================================================== */

// Palette Colors
$palette-color: (
  "palette": // palette colors
  (
      primary: #fff,
      secondary: #fbc638,
      dark: #000,
      gray: #eeeeee,
      dark-grey: rgb(140, 136, 136),
    ),
  "social": (
    red: #c71610,
    blue: #3e65cf,
    green: #25d366,
  ),
  "icon": (
    green: #198754,
    pink: #d63384,
    orange: #fd7e14,
    purple: #6610f2,
    light-purple: #ff00ff,
    dark-purple: #6f42c1,
    blue: #0d6efd,
    light-blue: #4169e1,
  ),
);
