// Palette color variants
@function palette-color($name: "palette", $variant: "blue") {
  $color: null;
  $color-spectrum: map-get($palette-color, $name);

  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  @return $color;
}
